body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0275d8;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 15px;
}
.container p {
  letter-spacing: 7px;
  font-size: 27px;
  width: 20%;
  margin: auto;
  text-align: center;
}

.container label {
  font-size: 20px;
  display: block;
  margin: 20px 0;
}
.container input {
  border: 0;
  border-bottom: 2.5px solid #0275d8;

  border-image-slice: 1;
  width: 100%;
  font-size: 20px;
}
.container input:focus {
  outline: none;
}
form ul {
  padding: 0;
}
form ul li {
  list-style: none;
  padding: 20px;
}
.container form .btn {
  text-align: center;
  color: #fff;
  padding: 15px 60px;
  border: 0;
  border-radius: 10px;
  margin: auto;
  display: block;
  font-size: 15px;
}
.container form .btn:hover {
  background-color: rgb(6, 86, 190);
  text-decoration: none;
}
.container a {
  display: block;
  text-decoration: none;
  color: rgb(0, 119, 255);
}
.container a:hover {
  text-decoration: underline;
}

.registrasi {
  text-align: center;
  width: 150px;
  margin: 10px auto 20px;
}

/* DEKSTOP */
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }

  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
  }
}
